html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  font-family: Poppins;
}

.body {
  display: block;
  background-color: rgb(249, 211, 154);
}

.header {
  margin-top: 0;
  font-size: 45px;
  text-align: center;
  box-shadow: 3px 0px grey;
}

h1 {
  margin: 0;
}

.main {
  min-height: 85vh;
  max-width: 75vw;
  display: block;
  margin: auto;
  padding-top: 2rem;
  background-color: whitesmoke;
}

.add-book-wrapper {
  display: flex;
  justify-content: center;
}

.book-list {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.5rem;
}

/* BOOK CARDS */
.book-card {
  min-height: 10em;
  min-width: 10em;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  text-align: center;
}

.book-card p {
  margin: 0.2rem;
}

.book-card p:last-of-type,
.by-author {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.book-card > .read-status-wrapper {
  margin-top: 1.5rem;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  box-shadow: 3px 3px 5px gray;
  color: black;
  background-color: rgb(127, 255, 255);
}

.btn:hover {
  font-size: 25px;
  transition: all 0.1s ease-in-out;
  transform: scale(1.03);
  background-color: rgb(127, 242, 255);
}

.btn:focus {
  background-color: rgb(127, 242, 255);
}

.add-book-btn {
  min-width: 20rem;
  min-height: 5rem;
}

.add-book-form .btn {
  min-height: 2rem;
  margin-top: 1.75rem;
  box-shadow: 1px 1px 5px grey;
}

/* MODAL */
.add-book-form {
  display: flex;
  flex-direction: column;
  min-width: auto;
  padding: 2rem 4rem;
  border-radius: 3px;
  background-color: ghostwhite;
}

.add-book-form input {
  min-width: 13vw;
}

.hidden {
  display: none;
}

.add-book-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1041;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.174);
  backdrop-filter: blur(5px);
}
